<div class="parent-container" style="text-align: center;">
  <div class="card container child-container" style="text-align: center;">
    <div class="card-header" style="text-align: center;"><h2><b>Search for your recipe!!
    </b></h2> </div>
    <div class="card-body">
    <form style="text-align: center;">
      <div class="form-group">
        <div class="form-group col-lg-9 col-lg-offset-3 input-group">
          <input type="text" class="form-control" placeholder="Recipe name" #recipe>
          <span class="input-group-addon">               </span>
          <input type="text" class="form-control" placeholder="Place" #place>
          <span class="input-group-addon">               </span>

        </div><br>
        <button type="button" class="btn btn-primary col-lg-3 col-lg-offset-4 " (click)="getVenues()">Find Restaurant</button>
        <span class="input-group-addon">-</span>
        <button type="button" class="btn btn-primary col-lg-3 col-lg-offset-4 " (click)="getInit()">Near Me</button><br>

      </div>
    </form>
    </div>
  </div>
</div><br><br>


<div class="parent-container" style="text-align: center;">
      <div class="card container child-container col-6" style="text-align: center;">
        <div class="card-header desc"><b>List of Restaurants</b></div>
        <div class="card-body">

          <table>
          <tr *ngFor="let venue of venueList" class="list-group-item clearfix">

                <td>
            <div>
              <p class="list-group-item-heading">{{ venue.name }}</p>
            </div>
                </td>

            <td> {{venue.location.formattedAddress[0]}},{{venue.location.formattedAddress[1]}},{{venue.location.formattedAddress[2]}}</td>


            <td>
            <span>
             <a href="http://maps.google.com/maps?saddr={{currentLat}},{{currentLong}}&daddr={{venue.location.formattedAddress[0]}},{{venue.location.formattedAddress[1]}},{{venue.location.formattedAddress[2]}}">
            </table>


        </div>
      </div>
    </div>
